.buttonFilterStyle {
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #008e7e;
    text-transform: uppercase;
    font-size: 10px;
}


@media (max-width: 653px) {
    .filter-button {
        padding: 0 0.6rem;
    }

    .buttonFilterStyle {
        padding: 5px 20px;
    }

}