.button-bookmark-style {
  background-color: #008e7e;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px;
    margin-top: 2rem;
      width: 5rem;
      font-size: 30px;

}

@media (max-width: 768px) {
.button-bookmark-style {
  width: 4rem;
  margin-top: 2rem;
  font-size: 20px;
}
}