.button-filter-style {
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #008e7e;
  text-transform: uppercase;
  font-size: 10px;
}




@media (max-width: 1024px) {

  /* Changes the width slightly for filter buttons in order to make them look more balanced */
  .button-filter-style {
    width: 110px;
  }

  /* Gives the mobile dropdown, eg the container that holds all the buttons a design */
  .mobile-dropdown-container {
    margin-left: -5%;
    width: 95%;
    height: fit-content;
    background-color: transparent;

  }

  /* Hides the desktop ul on phone */
  .desktop-ul {
    display: none !important;
  }

  /* the hide/show button */
  .hide-and-show-dropdown {
    width: 95%;
    height: 50px;
    margin-top: 15px;
    background-color: transparent;
    align-items: center;
    display: flex;
    border: none;
    font-size: 12px;
  }

}

@media (min-width: 1025px) {

  /* Hides the hide/show button on desktop */
  .hide-and-show-dropdown {
    display: none;
    
  }

  /* Hides the mobile dropdown on desktop */
  .mobile-dropdown-container {
    display: none;
  }
}