.button-style {
  background-color: #008e7e;
  border-radius: 20px;
  padding: 8px 20px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}


@media (max-width: 768px) {
  .button-all-movies {
    margin-left: 1rem;
  }

    .buttonStyle {
      padding: 8px 20px;
      margin-left: 1rem;
      
    }

}