.button-bookmark-style {
  background-color: #008e7e;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0;
  padding: 7px;
}

/* stylelint-disable-next-line media-feature-range-notation */
@media (max-width: 768px) {
  .button-bookmark-style {
    width: 3rem;
    font-size: 20px;
    margin-top: 0;
  }
}
