.button-bookmark-style {
  background-color: #008e7e;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0;
  padding: 7px;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .button-bookmark-style {
    width: 4rem;
    margin-top: 2rem;
    font-size: 20px;
  }
}