.form-container-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.form-style {
  width: 60%;
  display: flex;
  flex-direction: column;
}
