.formContainerStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.formStyle {
    width: 60%;
    display: flex;
    flex-direction: column;
}