.login-input-container-style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  margin-bottom: 15px;
}

.login-input-style {
  padding: 15px;
  text-align: left;
  background-color: white;
  border-radius: 50px;
  outline: none;
  border: none;
}
