.movie-card {
  position: relative;
  display: inline-block;
  margin: 15px;
  vertical-align: top;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.movie-image {
  width: 222px;
}

.movie-title {
  width: 100%;
  word-wrap: break-word;
  font-size: 14px;
  max-width: 222px;
}

.movie-year {
  width: 100%;
  word-wrap: break-word;
  font-size: 12px;
  max-width: 222px;
  color: #a28834;
}

.bookmark-button {
  position: absolute;
  top: 0px;
  right: 10px;
}
