.navbar-style {
    padding: 10px 0;
}

.ul-style {
    list-style: none;
    display: flex;
    justify-content: center;
}

.li-style {
    margin: 0 20px;
}

.link-style {
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    text-decoration: none;
    transition: color 0.3s;
}

/* Media query for phones */
/* stylelint-disable-next-line media-feature-range-notation */
@media (max-width: 768px) {

    /* Hide the unordered list on Desktop */
    .ul-style {
        visibility: hidden;
    }

    /* Styles for the phone menu button */
    .phoneMenuButton {
        position: absolute;
        /* FIXED? */
        margin-top: -40px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        color: #fff;

    }

    .closePhoneMenuButton {
        position: absolute;
        top: 120px;
        left: 80px;
        /* FIXED? */
        z-index: 2;
        margin-top: -40px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        color: #fff;

    }

    /* Styles for the open menu button icon */
    .menu-icon.open {
        background-color: transparent;
    }

    /* Styles for the phone menu */
    .phoneMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #222;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        list-style: none;
        margin: 0;
        padding: 0;
        z-index: 1;
    }

    .phoneMenuItem {
        margin: 10px 0;
        width: 50%;
        height: 60px;
    }

    .linkStyle {
        font-size: 26px;
    }

    .i {
        font-size: 30px;
    }
}


/* If the width is over 768 then hide the menu button */

/* stylelint-disable-next-line media-feature-range-notation */
@media (min-width: 768px) {
    .phone-menu-button {
        display: none;
    }
}