.navbar-style {
  padding: 10px 0;
}

.ul-style {
  list-style: none;
  display: flex;
  justify-content: center;
}

.li-style {
  margin: 0 20px;
}

.link-style {
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  text-decoration: none;
  transition: color 0.3s;
}
