.searchbar-container-style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}

.searchbar-style {
  padding: 15;
  text-align: left;
  background-color: white;
  border-radius: 50px;
  width: 40%;
  outline: none;
  border: none;
}

.icon-style {
  color: white;
}

@media (max-width: 768px) {
.searchbar-style {
    width: 100%;
  }
    .searchbar-container-style {
     margin-top: 1rem;
    }
}