/* subheading.css */
.subheading {
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  position: relative;
}

.subheading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 15%;
  height: 1px;
  background-color: #008e7e;
}
