.title-line {
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  position: relative;
}

.title-line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 30%;
  height: 1px;
  background-color: #008e7e;
}

/* stylelint-disable-next-line media-feature-range-notation */
@media (max-width: 768px) {
  .title-line {
    width: 80%;
    padding: 10px 0;
    font-size: 20px;
  }

  .title-line::after {
    left: 0;
  }
}
