.two-column-layout {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
}

.text-container {
  flex: 1;
  max-width: 40%;
}

.image {
  max-width: 35%;
  padding-right: 40px;
}
